<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<br>
<div class= "container-fluid">
	<div class = "row">
		<div class="text-center">
	<h3>Click the button below to select a random restaraunt</h3>
		</div>
	</div>

	<div class= "row">
	  <form class ="text-center" method="post" action="/randomrestaurant">
         <input class='btn btn-primary' type='submit' value="Random Restaurant">
      </form>
    </div>    
</div>

</html>

